<div class="details-area">
    <div class="row my-5" *ngIf="field">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">{{ field.name }}</h1>
                    <p class="sub-paragraph">{{ field.shortDescription }}</p>
                    <hr>
                    <p class="paragraph" [innerHtml]="field.description"></p>
                    <hr>
                    <p class="sub-paragraph">{{ field.createdAt | date }}</p>
                    <div class="btn-group btn-block">
                        <button class="btn btn-info" [routerLink]="['/manage/fields']"><i class="fa fa-eye"></i> Show Fields</button>
                        <button class="btn btn-primary" [routerLink]="['/manage/fields/modify-field']" [queryParams]="{ fieldId: field.id }"><i class="fa fa-pen-to-square"></i> Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row mb-5" *ngIf="exams && exams.length > 0">
        <h2 class="text-muted mb-3">Field Exams</h2>
        <div class="col-md-4" *ngFor="let exam of exams">
            <div class="card mb-3" >
                <div class="card-body">
                    <h3 class="title">
                        {{ exam.name }}
                        <button class="btn btn-link" [routerLink]="['/manage/exams/', exam.id]"><i class="fa fa-info"></i> Show Details</button>
                    </h3>
                </div>
            </div>
        </div>
    </div>    
</div>
<ng-container *ngIf="exams && exams.length == 0">
    <h3 class="text-center my-5">There are no exams for this field <a [routerLink]="['/manage/exams/modify-exam']">create new exam</a></h3>
</ng-container>