<ng-container>
    <div class="row mt-2 mb-3">
        <div class="col-md-3">
            <app-export-excel [btnValue]="'Export exams to excel'" [exportList]="exams"></app-export-excel>
        </div>
        <div class="col-md-5">
            <app-import-excel (fileList) = "fileListImported($event)"></app-import-excel>
            <button class="btn btn-upload-excel btn-success" [hidden]="uploadBtnStatus" type="button" (click)="uploadFile()">Upload</button>
        </div>
        <div class="col-md-4">
            <app-export-excel [btnValue]="'Download required template for upload'" [exportList]="examTemplate"></app-export-excel>
        </div>
    </div>
</ng-container>
<hr>
<div class="manage-area my-3" *ngIf="exams && exams.length > 0">
    <div class="row header">
        <div class="col-md-6">
            <h2 class="main-head">Manage Exams</h2>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary float-right" [routerLink]="['/manage/exams/modify-exam']"><i class="fa fa-plus"></i> Add Exams</button>
        </div>
    </div>
    <hr>
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Short description</th>
                <th>Description</th>
                <th>Duration</th>
                <th>Created at</th>
                <th>Controls</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let exam of exams">
                <td>{{ exam.id }}</td>
                <td>{{ exam.name.length > 20 ? exam.name.substring(0, 20) + '...' : exam.name }}</td>
                <td>{{ exam.shortDescription.length > 20 ? exam.shortDescription.substring(0, 20) + '...' : exam.shortDescription }}</td>
                <td>{{ exam.description.length > 20 ? exam.description.substring(0, 20) + '...' : exam.description }}</td>
                <td>{{ exam.duration }} minutes</td>
                <td> {{ exam.createdAt | date }} </td>
                <td>
                    <button class="btn btn-info mr-2" [routerLink]="['/manage/exams/' + exam.id]"><i class="fa fa-info"></i> Details</button>
                    <button class="btn btn-danger" (click)="deleteExam(exam.id)"><i class="fa fa-trash"></i> Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!--
    -check if there is no exam comes back from api
    -represent no content component inside layout folder
    -passing the content name and url for creating new one to the component
-->
<ng-container>
    <app-no-content *ngIf="exams && exams.length == 0" [contentName]="'exams'" [url]="'/manage/exams/modify-exam'"></app-no-content>
</ng-container>