<ng-container>
    <div class="row mt-2 mb-3">
        <div class="col-md-3">
            <app-export-excel [btnValue]="'Export option to excel'" [exportList]="options"></app-export-excel>
        </div>
        <div class="col-md-5">
            <app-import-excel (fileList) = "fileListImported($event)"></app-import-excel>
            <button class="btn btn-upload-excel btn-success" [hidden]="uploadBtnStatus" type="button" (click)="uploadFile()">Upload</button>
        </div>
        <div class="col-md-4">
            <app-export-excel [btnValue]="'Download required template for upload'" [exportList]="optionTemplate"></app-export-excel>
        </div>
    </div>
</ng-container>
<hr>
<div class="manage-area my-3" *ngIf="options && options.length > 0">
    <div class="row header">
        <div class="col-md-6">
            <h2 class="main-head">Manage Options</h2>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary float-right" [routerLink]="['/manage/options/modify-option']"><i class="fa fa-plus"></i> Add Options</button>
        </div>
    </div>
    <hr>
    <table datatable [dtOptions]="dtOptions" class="row-border hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Option</th>
                <th>Is correct</th>
                <th>Question</th>
                <th>Exam</th>
                <th>Created at</th>
                <th>Controls</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let option of options">
                <td>{{ option.id }}</td>
                <td>{{ option.optionName.length > 20 ? option.optionName.substring(0, 20) + '...' : option.optionName }}</td>
                <td>{{ option.isCorrect }}</td>
                <td>{{ option.question.questionName.length > 20 ? option.question.questionName.substring(0, 20) + '...' : option.question.questionName }}</td>
                <td>{{ option.question.exam.name.length > 20 ? option.question.exam.name.substring(0, 20) + '...' : option.question.exam.name }}</td>
                <td> {{ option.createdAt | date }} </td>
                <td>
                    <button class="btn btn-info mr-2" [routerLink]="['/manage/options/' + option.id]"><i class="fa fa-info"></i> Details</button>
                    <button class="btn btn-danger" (click)="deleteOption(option.id)"><i class="fa fa-trash"></i> Delete</button>    
                </td>    
            </tr>
        </tbody>
    </table>
</div>

<ng-container *ngIf="options && options.length == 0">
    <app-no-content [contentName]="'options'" [url]="'/manage/options/modify-option'"></app-no-content>
</ng-container>